<div class="main-page">
  <mat-toolbar class="toolbar">
    <h1><a href="/" class="link">Angular Exif</a></h1>
    <fa-icon [icon]="faImages" class="icon drawer-icon" (click)="drawer.toggle()"></fa-icon>
  </mat-toolbar>
  <mat-drawer-container class="page" autosize>

    <mat-drawer #drawer class="sidenav" [opened]="true" mode="side">
      <div *ngIf="errors" class="error">
        <div *ngFor="let e of errors">{{e}}</div>
      </div>
 
      <div class="file has-name is-primary is-fullwidth">
        <label class="file-label">
          <input class="file-input"
            type="file"
            name="file"
            multiple="" 
            #fileInput
            (change)="onFileChange($event)"/>
          <span class="file-cta">
            <span class="file-icon">
              <fa-icon [icon]="faUpload"></fa-icon>
            </span>
            <span class="file-label">
              Upload files...
            </span>
          </span>
        </label>
      </div>
   
      <mat-list cdkDropList class="images-list" (cdkDropListDropped)="drop($event)">
        <mat-card *ngFor="let img of images" class="photo-card" cdkDrag>
          <mat-card-header>
              <img mat-card-avatar [src]="img.base64" (load)="loaded($event, img)"> 
              <mat-card-title><span class="header">Name </span><span class="name">{{img.file.name}}</span></mat-card-title>
              <mat-card-subtitle><span class="header">Type </span>{{img.file.type}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div><span class="header">Size </span>{{img.file.size}}</div>
            <div *ngFor="let m of markers">
              <div *ngIf="m.base64===img.base64"><span class="header">Lat </span>{{m.lat}}</div>
              <div *ngIf="m.base64===img.base64"><span class="header">Lng </span>{{m.lng}}</div>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <div class="actions-container">
              <div class="header">Actions</div>
              <fa-icon [icon]="faMapMarkedAlt" class="icon action-icon" (click)="moveToBounds(img)"></fa-icon>
              <fa-icon [icon]="faTrash" class="icon action-icon" (click)="deleteFile(img)"></fa-icon>
            </div>
          </mat-card-actions>
        </mat-card>
      </mat-list>
    </mat-drawer>

    <div class="sidenav-content">
      <agm-map class="agm-map" [latitude]="lat" [longitude]="lng" [styles]="styles" [zoom]="zoom">
        <agm-marker *ngFor="let m of markers" [latitude]="m.lat" [longitude]="m.lng" >
          <agm-info-window #infowindow>
            <mat-card-title><span class="header">Name </span><span class="name">{{m.file.name}}</span></mat-card-title>
            <img [src]="m.base64"> 
          </agm-info-window>
        </agm-marker>
      </agm-map>
    </div>
  
  </mat-drawer-container>
</div>
